:root {
  --text-md-size: 1rem;
  --text-md-lineHeight: 1.5rem;
  --text-md-weight: 500;
  
  --text-sm-size: 0.875rem;
  --text-sm-lineHeight: 1.5rem;
  --text-sm-weight: 400;
  
  --color-Gray100: #F2F2F2;
  --color-Gray200: #D9D9D9;
  --color-Gray300: #808080;
  --color-Gray400: #333333;
  --color-Gray500: #262626;
  --color-Gray600: #1A1A1A;
  --color-Gray700: #0D0D0D;
  --color-Purple: #8284FA;
  --color-PurpleDark: #5E60CE;
  --color-Blue: #4EA8DE;
  --color-BlueDark: #1E6F9F;
  --color-Danger: #E25858; 
}

* {
  font-family: Inter, sans-serif;
  font-weight: var(--text-md-weight);
  line-height: var(--text-md-lineHeight);

  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--color-Gray100);
}

body {
  height: 100vh;
}